body {
  background-color: palegreen;
  font-family: cursive;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: bisque;
  text-align: center;
  width: 100%;
  display: block;
}

.assign {
  margin: 10px;
  padding: 10px;
  background-color: goldenrod;
  display: flex;
}
.assign img {
  width: 200px;
}
